{
  "keys": {
    "discordBotToken": "",
    "hypixelApiKey": "",
    "logWebhookUrl": "",
    "gcWebhookUrl": "",
    "ocWebhookUrl": "",
    "apiNinjasKey": "",
    "googleCloud": "",
    "uptimeKuma": ""
  },
  "messages": {
    "unverified": ["", ""],
    "requirements": ["", ""],
    "break": ["", ""]
  },
  "channels": {
    "botStatus": "",
    "chatLogs": "",
    "minecraftLink": "",
    "online": "",
    "members": "",
    "level": "",
    "applications": "",
    "officerChat": "",
    "guildLogs": "",
    "applicationLogs": "",
    "guildWatch": "",
    "welcome": "",
    "guildChat": "",
    "announcements": "",
    "publicAnnouncements": "",
    "break": "",
    "automod": "",
    "weeklyGexp": "",
    "dailyGexp": "",
    "playtime": "",
    "guildMessages": "",
    "bwStars": "",
    "bwFkdr": "",
    "duelsWins": "",
    "duelsWlr": "",
    "networth": "",
    "skillAverage": "",
    "counting": "",
    "lifetimeGexp": "",
    "achievementPoints": "",
    "networkLevel": "",
    "swLevel": "",
    "sbLevel": "",
    "quests": "",
    "daysInGuild": ""
  },
  "minecraft": {
    "ign": ""
  },
  "guild": {
    "gexpReq": "",
    "gexpReqNum": 0,
    "icon": "",
    "banner": ""
  },
  "colors": {
    "yellow": 16572208,
    "red": 14171198,
    "discordGray": 3092790,
    "green": 2981190
  },
  "roles": {
    "owner": "",
    "supervisor": "",
    "developer": "",
    "seniorStaff": "",
    "recruitmentStaff": "",
    "eventStaff": "",
    "goat": "",
    "dominator": "",
    "supreme": "",
    "hero": "",
    "elite": "",
    "slayer": "",
    "break": "",
    "verified": "",
    "unverified": "",
    "days": {
      "100": "",
      "200": "",
      "300": "",
      "400": "",
      "500": "",
      "600": "",
      "700": "",
      "800": "",
      "900": "",
      "1000": ""
    }
  },
  "autoRoles": {
    "events": "",
    "botUpdates": "",
    "bedwars": "",
    "duels": "",
    "skyblock": "",
    "skywars": "2"
  },
  "emojis": {
    "aTick": "",
    "aCross": "",
    "aCheckmark": "",
    "aEconomy": "",
    "aConfetti": "",
    "aTalking": "",
    "aWave": "",
    "aQuestion": "",
    "aDiscordbot": "",
    "discord": "",
    "hypixel": "",
    "warning3d": "",
    "locked3d": "",
    "unlocked3d": "",
    "calendar3d": "",
    "up3d": "",
    "keycap1_3d": "",
    "keycap2_3d": "",
    "keycap3_3d": "",
    "moon": "",
    "bedwars": "",
    "skyblock": "",
    "skywars": "",
    "duels": "",
    "down": "",
    "up": "",
    "clock": "",
    "mention": "",
    "page": "",
    "user": "",
    "minus": "",
    "add": "",
    "gexp": "",
    "week": "",
    "staff": "",
    "leftArrow": "",
    "rightArrow": "",
    "rules": "",
    "optifine": "",
    "bullet": "",
    "sub": "",
    "invis": "",
    "divider": "",
    "gold": "",
    "silver": "",
    "bronze": ""
  },
  "sheets": {
    "privateKey": "",
    "clientEmail": ""
  },
  "admins": [""]
}
